# Environnements et OS
.venv/
venv/
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# Secrets / runtime
*.log
logs/
instance/
*.db
*.sqlite3
supervision.db
.cache/
.pytest_cache/
.mypy_cache/

# Build / dist
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Node (au cas où)
node_modules/

# Docker
*.pid
