# Web
Flask>=3.0,<4
Flask-Cors>=4.0,<5
Jinja2>=3.1,<4
python-dotenv>=1.0,<2

# ORM / DB
SQLAlchemy>=2.0,<3
Flask-SQLAlchemy>=3.1,<4
Flask-Migrate>=4.0,<5
alembic>=1.13,<2
PyMySQL>=1.1,<2

# Tâches planifiées
APScheduler>=3.10,<4
tzdata>=2024.1,<2026
tzlocal>=5.2,<6

# SNMP (compatibles Python 3.11)
pysnmp==4.4.12
pyasn1==0.4.8
pyasn1-modules==0.2.8

